.staffview .handle {
 cursor: move;
}
.staff {
    display: none;
}
.slot .staff {
 background-color: #eee;
 box-shadow: inset 0 0 5px #ddd;
 border: 1px solid #ccc;
 font-size: 11px;
 font-family: "Lucida Grande", verdana, sans-serif!important;
 padding: 1px;
 list-style-type: none;
 overflow: auto;
 margin: 0 0 1px 0;
 color: #000!important;
 clear: both;
}
.slot .staff h2 {
 color: #000!important;
 margin: 0 5px;
 font-size: 16px;
 background: none!important;
}
.slot .staff h2 a {
    text-decoration: underline;
    font-size: 80%;
}
.slot .staff .dim {
    opacity: 0.6;
}
.slot .staff li {
 float: left;
 padding: 2px 5px;
}
.slot .staff li a {
 display: block;
 padding: 0 6px;
 border-radius: 2px;
 box-shadow: 0 0 1px 1px #ccc;
}
.slot .staff li a:hover {
    background: #444;
    color: #fff;
}
.slot .staff-top {
    border-radius: 14px 14px 0 0;
}
.slot .staff-bottom {
    border-radius: 0 0 14px 14px;
    clear: both;
}
.slot .prohibited .staff {
 background: #cc0000;
 color: #eee;
}
.slot .prohibited {
 opacity: 0.5;
}
.slot .ui-sortable-placeholder {
    border: 1px dotted #aaa;
    border-radius: 10px;
    visibility: visible !important;
    height: 100px !important;
}
#portletStaffToggleOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    display: none;
    color: #fff;
    z-index: 10000;
    box-shadow: 0 0 3px #333;
}
#portletStaffToggleOverlay a {
    display: block;
    padding: 10px;
    width: 200px;
    font-family: "Lucida Grande", verdana, sans-serif;
    color: #000!important;
}
#portletStaffOverlay {
    font-family: "Lucida Grande", verdana, sans-serif;
    position: fixed;
    top: 40px;
    left: 0;
    padding: 0;
    background-color: #eee;
    display: none;
    color: #000;
    z-index: 9000;
    border-radius: 0 0 10px 0;
}
#portletStaffOverlay a {
    color: #000!important;
}
#portletcategories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
#portletcategories > li {
    font-weight: normal;
    margin: 0;
    font-size: 13px;
    clear:both;
    width: 220px;
}
#portletcategories li a {
    display: block;
    padding: 5px 4px 4px;
}
#portletcategories > li > a {
    padding: 3px 10px 2px;
    border-bottom: 1px solid #ccc;
}
#portletcategories li.active {
    background: #ddd;
}
#portletcategories li a:hover {
    background: #ddd;
}
#portletcategories ul {
    list-style-type: circle;
    position: absolute;
    left: 220px;
    margin: -26px 0 0;
    padding: 0;
    display:none;
    font-size: 13px;
    background: #eee;
    width: 750px;
}
#portletcategories ul li {
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    clear: none;
}
#portletStaffOverlay h2 {
    cursor: pointer;
}
#closePortletStaffOverlay {
    margin: 4px 10px;
    display: block;
}
