{% load cache i18n %}
{% if request.user.is_staff %}
    <ul class="staff">
        <!-- cache vary is {{ portlet.vary_on }} -->
        <li class="dim">{{ portlet.assignment.position }}</li>
        <li class="dim">{% trans "Language" %}: {{ portlet.assignment.language|default:"global" }}</li>
        <li class="handle"><strong>{{ portlet.title }}</strong></li>
        <li class="handle dim">{% trans "Type" %}: {{ portlet.portlet_type }}</li>
        {% if portlet.prohibited %}<li>{% trans "prohibited here" %}</li>{% endif %}
        {% if portlet.assignment.inherit %}
            <li>[{% trans "origin is" %} {{ portlet.assignment.path }}]</li>
        {% endif %}
    </ul>
    <ul class="staff">
        {% if portlet.assignment.inherit %}
            <li><a href="#" class="delete-here">{% trans "Block here" %}</a></li>
            <li><a href="#" class="delete-here-inherit">{% trans "Block here and from all sub-pages" %}</a></li>
        {% endif %}
        <li><a href="#" class="inherit" title="{% trans "Inherit this to sub-pages" %}">{{ portlet.assignment.inherit|yesno:_("inherited,not inherited") }}</a></li>
        <li><a href="#" class="delete">{% trans "Delete" %}</a></li>
        <li><a href="{{ portlet.get_edit_link }}?_popup=1" class="edit popuplink">{% trans "Edit" %}</a></li>
    </ul>
{% endif %}
{% cache 900 portlet_fragment portlet.pk portlet.modified.isoformat portlet.vary_on %}{% spaceless %}
    {% block portlet_base %}
    {% if portlet.display_title %}
        <div class="header">
            {% block header %}
                <h2>
                    {% block portlet_header_extra %}{% endblock %}
                    {% if portlet.display_title_link %}
                        <a href="{{ portlet.display_title_link }}" title="{{ portlet.display_title }}">
                    {% endif %}
                        {{ portlet.display_title }}
                    {% if portlet.display_title_link %}
                        </a>
                    {% endif %}
                </h2>
            {% endblock %}
        </div>
    {% endif %}
    {% block portlet_content_base %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
    {% endblock %}
{% endspaceless %}{% endcache %}