{% load i18n %}
<div class="slot{% if request.user.is_staff %} staffview{% endif %} slot-{{ slot_class }}" id="slot-{{ slot_name }}">
    {% if request.user.is_staff %}
        <div class="staff staff-top">
            <h2>{{ slot_name }} <a href="#" class="add-portlet" title="{% trans "Add Portlet" %}">+{% trans "Add" %}</a></h2>
        </div>
    {% endif %}
    {% for portlet in portlets %}
        {% if not portlet.prohibited %}
            <div class="portlet {{ portlet.portlet_type }}" id="portlet-{{ portlet.assignment.pk }}">
                {% include portlet.template %}
            </div>
        {% else %}
            {% if request.user.is_staff %}
                <div class="portlet prohibited {{ portlet.portlet_type }}" id="portlet-{{ portlet.assignment.pk }}">
                    {% include portlet.template %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if request.user.is_staff %}
        <div class="staff staff-bottom">
            <h2>{{ slot_name }} <a href="#" class="add-portlet" title="{% trans "Add Portlet" %}">+{% trans "Add" %}</a></h2>
        </div>
    {% endif %}
</div>